<h2>Записаться</h2>
<form фсешщт="/visit" method="POST" role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input name="username" type="email" class="form-control" placeholder="Введите ваше имя">
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>