<h2>Записаться</h2>
<form action="/visit" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя">
  </div>
  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите телефон">
  </div>
  <div class="form-group">
    <label>Когда вас ждать</label>
    <input name="dateandtime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>
	<select name="barber" class="form-control form-control-sm">
		<option selected>Выберите парикмахера</option>
	  <option>Виктор</option>
	  <option>Борис</option>
	  <option>Крис</option>
	</select>
	<br>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>